<section class="hero-image">
  <div class="hero-content rounded-lg p-16 max-w-2xl">
    <h1>Welcome to Catspace!</h1>
    <h3 class="pb-4">
      A place run by cats, <em>for cats.</em> Upload and share your picture with
      others and make new friends.
    </h3>
    <primary-button
      (btnClick)="clickHandler()"
      text="Create Account"
      title="Create Account"
    ></primary-button>
  </div>
</section>
<section class="flex justify-between items-center py-32 max-w-6xl m-auto">
  <div class="basis-1/2 px-8">
    <img src="../../../assets/images/cats-1.png" alt="Cats" />
  </div>
  <div class="basis-1/2 px-8">
    <h2 class="pb-4">Lorem Ipsum</h2>
    <p class="pb-4">
      Lorem ipsum dolor sit amet. Quo voluptates consectetur ut assumenda sint
      nam omnis dignissimos et numquam nisi. Quo deserunt autem eum aliquid
      consectetur et accusamus architecto nam quia natus aut repudiandae quis
      qui explicabo fugiat a architecto cumque.
    </p>
    <primary-button text="Read More" title="Read More"></primary-button>
  </div>
</section>
<section class="py-24 px-4 max-w-6xl m-auto">
  <h2>Featured Profiles</h2>
  <div class="flex justify-around py-4 flex-wrap gap-1">
    <ng-container *ngFor="let profile of homeFeaturedProfiles">
      <featured-card
        [imageUrl]="profile.imageUrl"
        [name]="profile.name"
        [handle]="profile.handle"
        [followers]="profile.followers"
        [tags]="profile.tags"
      ></featured-card>
    </ng-container>
  </div>
  <a class="mt-4 hover:cursor-pointer" routerLink="/featured" title="Featured"
    >Explore more profiles</a
  >
</section>
