<mat-drawer #drawer mode="over" position="end">
  <div class="h-full">
    <div class="flex justify-between bg-grey p-4">
      <div class="flex items-center">
        <div class="w-[90px]">
          <img
            [src]="user?.imageUrl"
            alt="{{ user?.firstName }} {{ user?.lastName }} Image"
            class="object-cover w-full h-[90px] rounded-full"
          />
        </div>
        <div class="flex flex-col flex-grow pl-2">
          <h3>{{ user?.firstName }}</h3>
          <h3>{{ user?.lastName }}</h3>
          <p>{{ user?.handle }}</p>
        </div>
      </div>
      <span
        class="material-icons-xl hover:cursor-pointer hover:text-dark-orange"
        (click)="close()"
        >close</span
      >
    </div>
    <div class="h-full flex flex-col items-center pt-14">
      <div
        class="flex items-center hover:cursor-pointer hover:text-dark-orange"
      >
        <span class="material-icons-xl">house</span>
        <h2 class="pl-2">My Page</h2>
      </div>
      <div
        class="flex items-center hover:cursor-pointer hover:text-dark-orange"
      >
        <span class="material-icons-xl">favorite</span>
        <h2 class="pl-2">Following</h2>
      </div>
      <div
        class="flex items-center hover:cursor-pointer hover:text-dark-orange"
      >
        <span class="material-icons-xl">settings</span>
        <h2 class="pl-2">Settings</h2>
      </div>
      <div
        class="flex items-center hover:cursor-pointer hover:text-dark-orange"
      >
        <span class="material-icons-xl">notifications</span>
        <h2 class="pl-2">Notifications</h2>
      </div>
      <div
        class="flex items-center hover:cursor-pointer hover:text-dark-orange"
      >
        <span class="material-icons-xl">logout</span>
        <h2 class="pl-2">Logout</h2>
      </div>
    </div>
  </div>
</mat-drawer>
